*{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    background-color: rgba(245, 244, 244, 1);
    position: fixed;
    padding: 0 20px;
    padding-right: 70px;
    color: rgba(27, 36, 79, 1);
}
.nav .logo {
    width: 120px !important;
    height: 55px;

}

.nav .search {
    background-color: white;
    width: 300px;
    border-radius: 5px;
    height: 30px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    gap: 10px;

}

.nav .search .searchIcon {
    height: 16px ;
    width: 16px;
}
.nav .search  input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size:  0.8rem;
    width: 100%;
    margin-left: 5px;
}

.nav .search input:focus {
    outline: none;
}
.nav .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.nav .nav-menu .nav-item div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    font-weight: bold;
}
.nav .nav-menu .nav-item {
    font-size: 13px;
    font-weight: bold;
    height: fit-content;
}


li{
    list-style: none;
    
}
a{
    text-decoration: none;
    color: rgba(27, 36, 79, 1);
}
a:focus {
    text-decoration: none;
    color: rgba(27, 36, 79, 1);
}



/* dropdown lists  */

.nav-menu li {
    position: relative;
}
.dropdown-list {
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 100%;
    min-width: max-content;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;

}
.dropdown:hover .dropdown-list{
    display: block;
    
}

/* .dropdown-list::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: dolid;

} */
/*
.dropdown-list::before {
    content: '';
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    right: -10%;
    transform: translateX(-50%)
}*/
  


.dropdown-item {
   padding: 8px 16px;
   cursor: pointer;
}

.dropdown-item:hover {
  background-color: rgb(234, 234, 234);
}
.dropdown-link ,
.dropdown-link div{
    font-size: 10px !important;
    font-weight: bold;
    color: rgba(27, 36, 79, 1);
    /* display: flex;
    align-items: center;
    gap: 5px; */
}
/* .dropdown-item .profile,
.dropdown-item .fav,
.dropdown-item .prmtr,
.dropdown-item .decnx{
    display: flex;
    align-items: center;
    gap: 5px;

} */

.menu-icon{
    display: none;
    cursor: pointer;
}



/* responsive  */

@media screen and (max-width: 768px){
    .menu-icon {
        display: block;
    }
    .nav-menu {
        position: fixed;
        top: 10vh;
        right: 0;
        width: 50%;
        height: 93vh;
        flex-direction: column;
        background-color: rgba(27, 36, 79, 1);
        transform: translateX(100%);
        

    }
    .nav-item a {
        color: #fff;
    }
    .dropdown-item a {
        color: rgba(27, 36, 79, 1);

    }

.nav-active {
    transform: translateX(0);
}

}


