.profile {
    position: relative;
    margin-top: 50px;
    height: 1000px;
    width: 80%;
    margin-left: 10%;

}

    /* ------------profileCard ------------ */

.profile .profileCard {
   
    display: flex;
    align-items: center;
    gap: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 20px;
}
.profile .profileCard img {
    width: 125px;
    height: 155px;
    border: 2px solid rgba(74, 153, 211, 1) ;
}
.profile .profileCard .infos .name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 3px;
}

.profile .profileCard .infos .domain {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}
.profile .profileCard .infos .domain p {
    font-size: 14px;
    font-weight: 500;
}
.profile .profileCard .infos .domain .brief {
    color: rgba(74, 153, 211, 1);
}

.profile .profileCard .infos .domain p{
    font-size: 13px;
    font-weight: 500;
}

.profile .profileCard .infos .rating {
    display: flex;
    gap: 5px;
    margin-bottom: 9px;
    margin-top: 9px;
}

.profile .profileCard .infos .rating  .star {
    color: rgba(252, 152, 53, 1);
}

.profile .profileCard .infos .nbr {
    display: flex;
    align-items: stretch;
    gap: 8px;
    margin-top: 5px;
}

.profile .profileCard .infos .nbr .phone {
    color: rgba(74, 153, 211, 1);
}

.profile .profileCard .infos .nbr p{
    font-size: 13px;
    font-weight: 500;
}



/*  ------------buttons ------------ */

.profile .buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile .buttons .msg {
    color: white;
    background-color: rgba(74, 153, 211, 1);
    font-size: 14px;
    font-weight: 600;
    border: none;
    width: 125px;
    height: 27px;
    border-radius: 5px;
    text-transform: capitalize;
}

.profile .buttons .appoinment {
    color: rgba(74, 153, 211, 1);
    background-color: white;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid rgba(74, 153, 211, 1);
    width: 125px;
    height: 27px;
    border-radius: 5px;
    text-transform: capitalize;

}


.profile .aboutLawyer {
    margin-top: 45px;
    margin-bottom: 30px;

}
.profile .aboutLawyer h1 {
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 20px;
}
.profile .aboutLawyer h1::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 9%;
    height: 2px;
    background-color: rgba(74, 153, 211, 1);
}
.profile .aboutLawyer p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.3px;
}


/* -------languages------- */
.profile .languages ,
.profile .adr , 
.profile .contact {
    margin-bottom: 30px;
}
.profile .languages h1,
.profile .adr h1 ,
.profile .contact h1{
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 20px;
}
.profile .languages h1::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 28%;
    height: 2px;
    background-color: rgba(74, 153, 211, 1);
}

.profile .languages  .spoken {
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
}
.profile .adr h1::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 10%;
    height: 2px;
    background-color: rgba(74, 153, 211, 1);
}

.profile .adr .adress{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 240px;
}

.profile .adr .adress .mapIcon {
    width: 20px;
    height: 20px;
}

.profile .adr .adress p {
    font-size: 12px;
    font-weight: 500;
}

                                            /* contact  */

.profile .contact h1::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 17%;
    height: 2px;
    background-color: rgba(74, 153, 211, 1);
}



.profile .contact .phoneNbr,
.profile .contact .facebook,
.profile .contact .site{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.profile .contact  .phoneNbr p,
.profile .contact .facebook a,
.profile .contact .site  a{
    font-size: 13px;
    font-weight: 500;
    color: black;
}
.profile .contact  .phoneNbr .phone,
.profile .contact .facebook .fbIcon,
.profile .contact .site .siteIcon  {
    color: rgba(74, 153, 211, 1);
}





/* la forme message  */



/* The Modal (background) */
.modal,
.modal2 {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;

}



@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}


.form {
    width: 70%;
    height: 70%;
    border-radius: 5px;
    /*border: solid 1px;
    */-webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    text-align: center;
    top: 20%;
    left: 15%;
    position: absolute;
    background-color: white;
    padding-top: 10px;
    animation: animatezoom 1s ease ;
        -webkit-animation: animatezoom 1s ease ;
        padding: 30px 20px;
                                        }
.form h2 {
    font-size: 16px;
    text-transform: capitalize;
    margin: 15px 0;
    color: #333;
    margin-bottom: 20px;
}
.form .grp {
    margin-bottom: 20px;
    position: relative;
    border-bottom: 2px solid #c5c3c3;
    width: 309px;
}
                                        
.form .grp::after, 
.form .grp::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #361A1A;
    transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
}
                                        
.form .grp::after{
    right: 50%;
}
.form .grp::before{
    left: 50%;
}
.form .grp:focus-within::after,
.form .grp:focus-within::before {
    width: 50%;
}
.form .input-grp{
    width: 300px;
    border-radius: 5px;
    height: 30px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}
                        
.form .input-grp input  {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size:  0.8rem;
    width: 100%;
    margin-left: 5px;
    font-weight: 600;
}
                                        
.form .input-grp input:focus,
.form .input-grp input:not(:placeholder-shown) {
    outline: none;
}
                             
.form .input-grp input:focus + label,
.form .input-grp input:not(:placeholder-shown) + label {
    top: -2px;
    font-size: 13px;
    color:  #361A1A;
}
                                        
                                        
.form .input-grp label {
    position: absolute;
    top: 40%;
    left: 35px;
    transform: translateY(-50%);
    transition: 0.3s;
    pointer-events: none;
    color: #999;
    font-size: 13px;
    font-weight: 600;
    bottom: 10px;
}


.form .yourMsg {
    width: 90%;
    height: 155px;
    scroll-behavior: smooth;
    padding: 10px;
}

.form .send {
    position: absolute;
    bottom: 10px;
    right: 40%;
    width: 10%;
    transform: translateX(-50%);
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: rgba(74, 153, 211, 1);
    border: none;
    border-radius: 2px;
}
       
.form .close {
    position: absolute;
    top: 6%;
    right: 5%;
    font-size: 18px;
}
            
.form .close:hover{
    color: rgba(74, 153, 211, 1);
}
         





