

.modal2 {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;

}

.rvForm {
    width: 50%;
    height: 70%;
    border-radius: 5px;
    /*border: solid 1px;
    */-webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    text-align: center;
    top: 21%;
    left: 25%;
    position: absolute;
    background-color: white;
    padding-top: 10px;
    animation: animatezoom 1s ease ;
        -webkit-animation: animatezoom 1s ease ;
        padding: 30px 20px;
}
.rvForm h2 {
    font-size: 16px;
    text-transform: capitalize;
    margin: 15px 0;
    color: black;
    margin-bottom: 20px;
}

.rvForm .input-container {
    margin-top: 40px;
}
.rvForm .grp {
    margin-bottom: 30px;
    position: relative;
    border-bottom: 2px solid #c5c3c3;
    width: 80%;
    margin-left: 10%;
}
                                        
.rvForm .grp::after, 
.rvForm .grp::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
}
                                        
.rvForm .grp::after{
    right: 50%;
}
.rvForm .grp::before{
    left: 50%;
}
.rvForm .grp:focus-within::after,
.rvForm .grp:focus-within::before {
    width: 50%;
}
.rvForm .input-grp{
    width: 100%;
    border-radius: 5px;
    height: 30px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}
                        
.rvForm .input-grp input  {
    background-color: transparent;
    border: none;
    height: 100%;
    /* font-size:  0.8rem; */
    width: 100%;
    margin-left: 5px;
    font-weight: 600;
    font-size: 12px;

}
                                        
.rvForm .input-grp input:focus{
    outline: none;
}
                             
                                   


.rvForm .input-grp label {
    position: absolute;
    top: 12px;
    left: 35px;
    transform: translateY(-50%);
    transition: 0.3s;
    pointer-events: none;
    color: #999;
    font-size: 13px;
    font-weight: 600;
    bottom: 10px;
}

.rvForm .input-grp input:focus + label{
    /* top: -5px; */
    font-size: 13px;
    color: black;
}



.rvForm .yourMsg {
    width: 90%;
    height: 155px;
    scroll-behavior: smooth;
    padding: 10px;
}

.rvForm .send {
    position: absolute;
    bottom: 10px;
    right: 40%;
    width: 10%;
    transform: translateX(-50%);
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: rgba(74, 153, 211, 1);
    border: none;
    border-radius: 2px;
}
       
.rvForm .close {
    position: absolute;
    top: 6%;
    right: 5%;
    font-size: 18px;
}
            
.rvForm .close:hover{
    color: rgba(74, 153, 211, 1);
}
         



